/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
}

.plain-text {
    width: 50vw;
    resize: vertical;
    min-height: 6vw;
}

.key-text {
    width: 50vw;
    resize: vertical;
    min-height: 1.5vw;
}

.label-container {
    width: 8vw;
}

.input-container {
    margin-left: 5vw;
}

.output-container {
    margin-left: 5vw;
}

.result-text {
    width: 50vw;
    resize: vertical;
    min-height: 6vw;
}

.buttons-container {
    justify-content: space-between;
    margin-left: 13vw;
}

.spacer {
    flex-grow: 1;
}

button {
    padding: 1vw 2vw;
    cursor: pointer;
}

.download-button {
    /* Text styling */
    color: #ffffff; /* White text color */
    font-weight: bold; /* Make the text bold */
  
    /* Button styling */
    background-color: #4CAF50; /* Green background */
    padding: 12px 24px; /* Top and bottom padding, left and right padding */
    border-radius: 25px; /* Rounded corners */
    border: none; /* No border */
    cursor: pointer; /* Change mouse cursor to signify clickable item */
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* Allows the use of padding and margins */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  
    /* Box shadow for depth */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
  }
  
  .download-button:hover, .download-button:focus {
    /* Hover & focus styling for interactivity */
    background-color: #45a049; /* Slightly darker shade of green */
    color: #ffffff; /* Keep text color white */
    text-decoration: none; /* Ensure no underline on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Slightly larger shadow for "lifting" effect */
  }